/*CSS rules for the 'rocky' noggin theme */

body {
  font-weight: 400;
  color: #2e443d;
  /* This does not affect the backgrounds of some boxes, modify with care */
  background-color: #ffffff;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  line-height: 2;
}

/* Try to mesh with green logo image */
.navbar-dark { background-color: #18181b; color: #fff; }

.row { margin-left: 0 }

/* Try to mesh with green logo theme. Note to self, this is a bit too
   transparent with the white background. */
.btn-primary,
.btn-outline-primary { color: #5eac93; background-color: #fff; border-color: #81c1ac; }
.btn-outline-primary:hover,
.btn-primary:hover { color: #fff; background-color: #5eac93; border-color: #81c1ac; }
a, .btn-link { color: #5eac93 }
a:hover, .btn-link { color: #81c1ac }

.badge-secondary { background-color: #2e3344; }
.text-info { color: #88d0ba }
.text-success { color: #8fbcad; }
div.media.align-items-center img { border-radius: 50%; }

.card.card-body {
  margin-bottom: 10px !important;
}

ul.list-unstyled.row li {
  padding-left: 0px;
}
