<p><strong>Account Services</strong></p>
<p>{{_("Hello %(name)s,", name=user.name)}}</p>
<p>{{_("To activate your account with username %(username)s, please click on the link below:", username=user.username)}}</p>
<p>
  <a href="{{ url_for('.activate_account', _external=True) }}?token={{ token }}">
    {{ url_for('.activate_account', _external=True) }}?token={{ token }}
  </a>
</p>
<p>{{_("If you did not create an account for username %(username)s, you can ignore this email.", username=user.username)}}</p>

<p><em>{{_("Rocky IdM Team")}}</em></p>
